@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I'm a senior at Ohio University studying MIS and Business Analytics. This past summer I interned with EY in Columbus as a Risk Advisory Intern. I enjoyed my time there and accepted a full time offer that begins in January. I've learned a lot here at Ohio University, and look forward to using what I've learned moving forward in my career. </p>
