@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Ohio University College of Business</strong><br />
    <strong>Majors: </strong>MIS, Business Analytics<br />
    <strong><abbr title="Phone">Phone:</abbr></strong>
    304.481.7680<br />
    <strong>Email:</strong>   <a href="mailto:hw601315@ohio.edu">hw601315@ohio.edu</a><br />
</address>

