@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hannah Wilson</h1>
    <p>A senior studying MIS and Business Analytics at Ohio University</p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>What's Happening</h2>
        <p>
           Check out what's happening in the business world today
        </p>
        <p><a class="btn btn-default" href="https://www.forbes.com/business/#4d77e107535f">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Connect with Me</h2>
        <p>Get to know more about me, my work experiences and my passions.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/hannahwilson19/">View My Profile &raquo;</a></p>
    </div>
   
</div>